<% content_for :title do %>
  <%= '登入 - maruDiary' %>
<% end %>
<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function() {
  $('#user_form').validate({
    showErrors: function(errorMap, errorList) {
      this.defaultShowErrors();
      $("label.error").hide();
    },
     submitHandler: function(form) {
      var msg = $('#password').val();
      window.localStorage.setItem("password", msg);
      var hash = CryptoJS.SHA256(msg);
      $('#password').val(hash);
      form.submit();
    },
    onkeyup: false,
    onclick: false,
    rules: {
      login: {
      required: true,
      email: true
      },
      password: {
      required: true
      },
    },
    highlight: function(element) {
      $(element).closest('.control-group').addClass('error');
    },
    success: function(element) {
      element.addClass('valid')
      .closest('.control-group').removeClass('error');
    }
  });
});
</script>
<script src="/javascripts/jquery.validate.min.js"></script>
<% end %>
<% if !flash[:notice].blank? %>
<div class="<%= flash[:class] %>">
<%= flash[:notice] %>
<a class="close" data-dismiss="alert" href="#">&times;</a>
</div>
<% end %>
<div class="container">
  <form class="form-signin wide" method="post" id="user_form" action="/account/login">
    <h2 class="form-signin-heading">请登入</h2>
    <div class="control-group"><input type="text" placeholder="Email" class="input-block-level" id="login" name="login"></div>  
    <div class="control-group"><input type="password" placeholder="密码" class="input-block-level" id="password" name="password"></div>  
    <button type="submit" class="btn btn-large btn-primary login-btn">提交</button>
    <a href="/account/signup" class="btn btn-large pull-right login-btn">注册</a>
  </form>
</div>